<script setup>
import { usePlanStore } from '@/stores/PlanStore'

const planStore = usePlanStore()

planStore.init()
</script>

<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <FitnessPlans />
      </v-col>
    </v-row>
  </v-container>
</template>
