<script setup>
</script>

<template>
    <NuxtLayout>
      <NuxtPage/> 
    </NuxtLayout>  
</template>


<!--
  app.vue is the root of our single page application
  NuxtLayout - building component
  NuxtPage - works exactly like router vue component
 -->