<script setup>
import { useAuthStore } from "@/stores/AuthStore"
const authStore = useAuthStore()

const tab = ref(null)

watchEffect(() => {
  if (authStore.user) {
    navigateTo("/profile")
  }
})
</script>

<template>
  <v-container fluid class="fill-height" id="login-page">
      <v-row class="justify-center">
        <v-col md="4" sm="12">
          <v-card class="elevation-12">
            <v-tabs v-model="tab" grow>
              <v-tab value="login">Login</v-tab>
              <v-tab value="register">Register</v-tab>
            </v-tabs>
            <v-card-text>
              <v-window v-model="tab">
                <v-window-item value="login">
                  <AuthLocalLogin />
                </v-window-item>
                <v-window-item value="register">
                  <AuthRegister />
                </v-window-item>
              </v-window>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
  </v-container>
</template>
