<script setup>
</script>

<template>
    <v-container fluid>
      <v-row>
        <v-col>
            
            <div> Logged out</div>
            <v-btn> To Log Back In</v-btn>
          <!-- Page content will be loaded inside here -->
        </v-col>
      </v-row>
    </v-container>
  </template>

  