<script setup>
import { usePlanStore } from "@/stores/PlanStore"

const planStore = usePlanStore()
planStore.getPlan()
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-form v-model="valid">
          <v-col>
            <v-title>Create Your Plan</v-title>
          </v-col>

          <v-row class="mb-6">
            <v-col cols="12" md="6">
              <v-text-field
                v-model="planStore.exerciseOne"
                :rules="nameRules"
                label="Exercise"
                required
                placeholder=""
                hide-details
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6">
              <v-text-field
                v-model="planStore.exercise2"
                :rules="nameRules"
                label="Exercise"
                required
                placeholder=""
                hide-details
              ></v-text-field>
            </v-col>

            </v-row>

          <v-row class="justify-center">
            <v-col cols="6" md="3">
              <v-btn block rounded="4" size="large" @click="planStore.updatePlan">Button</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>
