<script setup>
import { useLogStore } from "@/stores/LogStore"

const logStore = useLogStore()

</script>

<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <h1 class="text-md-center">My Personal Best</h1>
        <v-card v-for="lift in logStore.personal" class="ma-4">
          <v-card-text>
            <h3>{{ lift.name }} I did it</h3>
            <div
              v-for="exercise in lift.cycle.pblog"
              class="font-weight-bold px-10"
            >
              Exercise: {{ exercise.name }}<br />
              <br />
              <v-row>
                <v-col cols="6">
                  Weight-KG
                  <div v-for="pb in exercise.persbest">
                    <v-text-field
                      :center-affix="true"
                      v-model="pb.weight"
                    ></v-text-field>
                  </div>
                </v-col>
                <v-col cols="6">
                  Repetitions
                  <div v-for="pb in exercise.persbest">
                    <v-text-field v-model="pb.repetitions"></v-text-field>
                  </div>
                </v-col>
                <v-row justify="center">
                  <v-col cols="1 ma-4">
                    <div>
                      <!--<input type="text" v-model="exerciseUpdated.update" /> -->
                      <v-btn
                        height="37"
                        min-width="164"
                        color="blue"
                        @click="logStore.updatePersonally(exercise)"
                        >Save</v-btn
                      >
                    </div>
                    <!--<p v-show="exerciseUpdated.invalid" class="err-msg">{{ exerciseUpdated.alertMsg }}</p>
                      <p class="err-msg"> {{ exerciseUpdated }}</p> -->
                  </v-col>
                </v-row>
              </v-row>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-row>
          <v-btn color="yellow" block @click="logStore.updatePersonally"
            >Update Personal Best</v-btn
          >
          Personal Best: {{ logStore.personal }}
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
