<script setup>
import { usePlanStore } from "@/stores/PlanStore"

const planStore = usePlanStore()

</script>

<template>
  <v-sheet
    elevation="12"
    border="md"
    class="pa-10 text-white mx-auto"
    color="#141518"
    height="auto"
    max-width="500"
  >
    <v-btn
      to="/plans"
      block
      class="text-none text-black mb-4"
      color="green-accent-2"
      size="x-large"
      variant="flat"
    >
      Create Workout Plan
    </v-btn>

    <v-btn
      block
      class="text-none text-black"
      color="green"
      size="x-large"
      variant="outlined"
    >
      My Plan
    </v-btn>
  </v-sheet>
</template>
