<script setup>
import { useFitnessStore } from "@/stores/FitnessStore"

const fitnessStore = useFitnessStore()

const convertDate = (date) => {
  const timestamp = Date.parse(date)
  const convertedDate = new Date(timestamp)
  return convertedDate.toLocaleDateString("en-us", {
    weekday: "long",
    year: "numeric",
    month: "numeric",
    day: "numeric",
  })
}

//const exerciseUpdated = ref("Exercise Updated");
//const invalidCheck = ref("")
//use the reactive method as an alternative when using multiple refs centered around a man variable


//const updateNow = () => {
//emit(exerciseUpdated.update);
//};

</script>

<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <h1 class="text-md-center">Workouts</h1>
        <v-card v-for="workedout in fitnessStore.workouts" class="ma-4">
          <v-card-title>
            <h2 class="text-center">{{ convertDate(workedout.date) }}</h2>
          </v-card-title>
          <v-card-text>
            <h3>{{ workedout.name }} - {{ workedout.duration }} minutes</h3>
            <div
              v-for="exercise in workedout.exercises.exercises"
              class="font-weight-bold px-10"
            >
              Exercise: {{ exercise.name }}<br />
              <br />
              <v-row>
                <v-col cols="6">
                  Weight-KG
                  <div v-for="set in exercise.sets">
                    <v-text-field
                      :center-affix="true"
                      v-model="set.weight"
                    ></v-text-field>
                  </div>
                </v-col>
                <v-col cols="6">
                  Repetitions
                  <div v-for="set in exercise.sets">
                    <v-text-field v-model="set.repetitions"></v-text-field>
                  </div>
                </v-col>
                <v-row justify="center">
                  <v-col cols="1 ma-4">
                    <div>
                        <!--<input type="text" v-model="exerciseUpdated.update" /> -->
                      <v-btn
                        height="37"
                        min-width="164"
                        color="blue"
                        @click="fitnessStore.updateWorkout(workedout)"
                        >Save</v-btn
                      >
                    </div>
                      <!--<p v-show="exerciseUpdated.invalid" class="err-msg">{{ exerciseUpdated.alertMsg }}</p>
                      <p class="err-msg"> {{ exerciseUpdated }}</p> -->
                  </v-col>
                </v-row>
              </v-row>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-row>
          <v-btn color="yellow" block @click="fitnessStore.updateWorkout"
            >Update Workouts</v-btn
          >
          Workouts: {{ fitnessStore.workouts }}
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
