<script setup>
import { useAuthStore } from '@/stores/AuthStore'

const authStore = useAuthStore()

authStore.getUserProfile()
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-form v-model="valid">
          <v-col>
            <v-title>Personal Information</v-title>
          </v-col>
          <v-row class="mb-6">
            <v-col cols="12" md="6">
              <v-text-field
                v-model="authStore.firstName"
                :rules="nameRules"
                :counter="10"
                label="First name"
                required
                placeholder="john"
                hide-details
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6">
              <v-text-field
                v-model="authStore.lastName"
                :rules="nameRules"
                :counter="10"
                label="Last name"
                hide-details
                placeholder="Doe"
                required
              ></v-text-field>
            </v-col>

            <v-responsive width="100%"></v-responsive>

            <v-col cols="12" md="12">
              <v-text-field
                v-model="authStore.email"
                :rules="emailRules"
                label="E-mail"
                placeholder="johndoe@gmail.com"
                hint="Required"
                persistent-hint
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6">
              <v-text-field
                v-model="authStore.street"
                label="Street"
                required
                hide-details
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6">
              <v-text-field
                v-model="authStore.apt"
                label="Apt #"
                hide-details
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field
                v-model="authStore.city"
                label="City"
                hide-details
                required
              >
              </v-text-field>
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field
                v-model="authStore.country"
                label="Country"
                hide-details
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field
                v-model="authStore.postalCode"
                label="Postal Code"
                hide-details
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6">
              <v-text-field
                v-model="authStore.userName"
                label="User name"
                required
                hide-details
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row class="justify-center">
            <v-col cols="6" md="3">
              <v-btn block rounded="4" size="large" @click="authStore.updateProfile">Button</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>
