<script setup>
import { useTheme } from 'vuetify'
import { useAppStore } from '@/stores/AppStore'

const appStore = useAppStore()
const theme = useTheme()

watchEffect(() => {
  theme.global.name.value = appStore.app.darkMode ? 'customDarkTheme' : 'light'
})
</script>

<template>
    <v-app id="AuthenticatedLayout">
      <LayoutLoader />
      <LayoutNavbarLeft />
      <v-main class="flex"> Hello
        <slot />
      </v-main>
      <LayoutSuccessSnackbar />
      <LayoutErrorSnackbar />
      <LayoutLoader />
    </v-app>
  </template>