<script setup>
import { useTheme } from 'vuetify'
const theme = useTheme()
theme.global.name.value = 'customDarkTheme'
</script>

<template>
    <v-app app>
        <v-main class="flex">
            <slot />
        </v-main>
    </v-app>
</template>

  