<script setup>
import { useFitnessStore } from '@/stores/FitnessStore'

const fitnessStore = useFitnessStore()
fitnessStore.init()
</script>

<template>
<v-container fluid>
        <v-row>
            <v-col>
                <FitnessWorkouts />
            </v-col>
        </v-row>
    </v-container>
</template>