<script setup>

</script>


<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <h1>
                Hello World from the index page bro <!--{{ authStore.name }}-->
                </h1>
            </v-col>
        </v-row>
    </v-container>
</template>

