<script setup>
const user = useSupabaseUser()


</script>

<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <h1>Hello World {{ user.email }}</h1>
        <div>{{ currentDate }}</div>
        <nuxt-link to="/profile">Profile</nuxt-link>
      </v-col>
    </v-row>
  </v-container>
</template>
