<script setup>
const supabase = useSupabaseClient()

const loading = ref(false)
const email = ref("")

const handleLogin = async () => {
  try {
    loading.value = true
    const { error } = await supabase.auth.signInWithOtp({ email: email.value })
    if (error) throw error
    alert("Check your email for the login link!")
  } catch (error) {
    alert(error.error_description || error.message)
  } finally {
    loading.value = false
  }
}
</script>

<template>
  <v-form class="row flex-center flex" @submit.prevent="handleLogin">
    <v-flex class="col-6 form-widget">
      <h1 class="header">Supabase + Nuxt 3</h1>
      <p class="description">Sign in via magic link with your email below</p>
      <v-flex>
        <v-input
          class="inputField"
          type="email"
          placeholder="Your email"
          v-model="email"
        />
      </v-flex>
      <v-flex>
        <v-input
          type="submit"
          class="button block"
          :value="loading ? 'Loading' : 'Send magic link'"
          :disabled="loading"
        />
      </v-flex>
    </v-flex>
  </v-form>
</template>
