<script setup>
import { useLogStore } from '@/stores/LogStore'

const logStore = useLogStore()
logStore.init()
</script>


<template>
<v-container fluid>
        <v-row>
            <v-col>
                <FitnessMyPersBest />
            </v-col>
        </v-row>
    </v-container>
</template>